@font-face {
    font-family: CameraObscura;
    src: url(fonts/CameraObscuraDEMO.otf);
}

html{
    scroll-behavior: smooth;
}

body{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #E9A8F2;
}

::selection {
    background-color: #F3CCF3; 
    color: #000;
}

h1{
    font-family: 'CameraObscura';
}

a, p, h2, h3{
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
}

header p{
    margin: 5%;
}

header img{
    margin: 5%;
    max-width: 4vw;
}

main{ 
    width: 80%;
}

.face img{
    width: 30vw;
}

.accueil{
    display: flex;
    flex-direction: column;
}

.accueil p{
    font-size: 2vw;
    margin: 0;
}

.accueil h1{
    font-size: 4vw;
    font-weight: 900;
}

.content1{
    justify-content: space-between;
    display: flex;

}

.redirection{
    display: flex;
    margin-bottom: 5%;
}

.redirection ul{
    display: flex;
    gap: 2%;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
}


.redirection ul li{
    display: flex;
    align-items: center;
}

.redirection ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
}

.redirection ul li a:hover{
    text-decoration: underline;
}

.projets{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vh;
    margin: 10% 0% 0% 0%;
}

.projets .projet{
    display: flex;
    position: relative;
    width: 45%;
    overflow: hidden;
}

.projets .projet .titre h2{
    margin-left: 5%;
    font-size: 1.5vw;
}

.projets .projet .titre img{
    height: 2vw;
    width: 2vw;
}


.projets .projet .informations .txt{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}


.projets .projet .informations .txt p{
    width: 90%;
    font-size: 1.5vw;
    margin-bottom: 5%;
    color: white;
}

.projets .projet .img{
    margin-right: 6%;
    display: flex;
    gap: 7%;
}

.projets .projet img{
    width: 100%;
}

/* Projets bg images */

.projets .projet .bg-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 60vh;
}

.projets .num1 .bg-image{
    background-image: url(images/CV-img.svg);
    transition: transform 0.3s ease;
}

.projets .num1:hover .bg-image {
    transform: scale(1.06);
}

.projets .num2 .bg-image{
    background-image: url(images/Safrio-pageDeConnexion.svg);
    transition: transform 0.3s ease;
}

.projets .num2:hover .bg-image {
    transform: scale(1.06);
}

.projets .num3 .bg-image{
    background-image: url(images/Pendu-img.svg);
    transition: transform 0.3s ease;
}

.projets .num3:hover .bg-image {
    transform: scale(1.06);
}

.projets .num4 .bg-image{
    background-image: url(images/Memory.webp);
    transition: transform 0.3s ease;
}

.projets .num4:hover .bg-image {
    transform: scale(1.06);
}

/* Projets */
.projets .projet .titre{
    display: flex;
    position: absolute;
    width: 100%;
    background-color: #F3CCF3;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.projets .projet .informations{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.informations .tech-used img{
    width: 5%;
}

.projets .projet .informations:hover{
    background-color: #DC84F3;
    background: #00000090;
}

/* Mise en place du systeme d'apparition d'informations au hover. */
.informations p,h1,img{
    opacity: 0;
    transition: opacity 0.8s ease;
}

.informations:hover p,h1,img{
    opacity: 1;
}

footer{
    display: flex;
    width: 100%;
    background-color: #DC84F3;
    margin-top: 5%;
    justify-content: space-between;
}

footer ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 20%;
}

footer ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5vw;  
}

footer ul li:hover a{
    color: white; 
}

footer ul.contact{
    margin-right: 2%;
}

/* Responsive */

@media (min-width: 2000px ){
    
    .projets .projet .titre img {
        height: 2vw;
        width: 2vw;
    }

    header img{
        height: 7vh;
    }

}

@media (min-width: 1650px ){
    .accueil .content1 .face img{
        min-height: 40vh;
    }

}

@media (max-width: 950px ){

    .projets .projet .bg-image {
        height: 50vh;
    }

    .projets .projet .bg-image {
        height: 40vh;
    }
}

@media (max-width: 750px ){

    header img {
        max-width: 10vw;
    }

    .content1{
        flex-direction: column-reverse;
    }

    .projets .projet .bg-image {
        height: 20vh;
    }

    .main{
        width: 90%;
    }

    .face{
        display: flex;
        justify-content: center;
    }

    .projets{
        justify-content: center;
    }

    .projets .projet .bg-image {
        height: 40vh;
    }

    .accueil p{ font-size: 4.5vw;}
    .accueil h1{ font-size: 8vw;}

    .redirection ul li a {
        font-size: 3.5vw;
    }

    .projets .projet .titre img {
        height: 3vw;
        width: 3vw;
    }

    .projets .projet .informations .txt p {
        font-size: 2vw;
    }

    footer ul li a {
        font-size: 4vw;
    }

    footer ul.contact {
        margin-right: 10%;
    }

}

@media (max-width: 550px ){

    .projets .projet .titre h2 {
        font-size: 4.5vw;
    }

    .projets .projet .bg-image {
        height: 40vh;
    }
    .projets .projet {
        width: 100%;
    }

    .projets .projet .titre img {
        height: 5vw;
        width: 5vw;
    }

    .projets .projet .informations .txt p {
        font-size: 3.5vw;
    }
}