body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.lettre{
    visibility: hidden;
    font-size: 20px;
    font-display: flex;
    
  }

  #monAlphabet{
    display: flex;
    gap: 3%;
    flex-wrap: wrap;
    z-index: 1;
    position: relative;
    width: 50vw;
  }

  .lettrea{
    background-color:rgb(174 229 149);
    border-radius: 5px;
    width: 0.1vw;
    height: 0.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }

  .vrai{
    background-color:rgb(81, 255, 0);
    border-radius: 5px;
    width: 0.1vw;
    height: 0.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;

  }

  .faux{
    background-color:rgb(255, 0, 0);
    border-radius: 5px;
    width: 0.1vw;
    height: 0.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;

  }

  li {
    font-size: 20px;
    font-display: flex;
  }

li.lettre#visible{
  list-style-type: none;
  visibility: visible;
    
}

li a{
  font-size: 120px;
}

  /* Afficher un petit trait noir à la place */
  li.lettre:after {
    visibility: visible;
    content: "\2022";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Largeur du trait */
    height: 5px; /* Hauteur du trait */
    background-color: black; /* Couleur du trait */
    margin-bottom: 10px; /* Marge en bas du trait, ajustez selon vos besoins */
}

li.lettre#visible:after{
  background-color: green;
}
  

/* Pb du petit point (avec after) (a cause du texte je crois) */

.pendu ul{
  position: relative;
  display: flex;
  z-index: 0;
}

.pendu ul ol.un img{
  position: absolute;
  left: 8.3%;
  bottom: 15%;
  /* height: 596px;
  width: 842px; */
}

.pendu ul ol.deux img{
  position: absolute;
  left: 16.3%;
  bottom: 40%;
  /* height: 596px;
  width: 842px; */

}

.pendu ul ol.trois img{
  position: absolute;
  left: 20.3%;
  bottom: 40%;
  /* height: 596px;
  width: 842px; */

}

.pendu ul ol.quatre img{
  position: absolute;
  left: 20.3%;
  bottom: 27%;
  /* height: 596px;
  width: 842px; */
}

.pendu ul ol.cinq img{
  position: absolute;
  left: 20.3%;
  bottom: 14%;
  /* height: 596px;
  width: 842px; */

}

.pendu ul ol.six img{
  position: absolute;
  left: 20.1%;
  bottom: 15%;
  /* height: 596px;
  width: 842px; */

}

/* .pendu ul ol.sept img{
  position: absolute;
  left: 14%;
  bottom: 20%;
  height: 596px;
  width: 842px;

}
//si activé, fait tout bugger... ( toutes les autres images disparaissent) a voir plus tard comment régler ca. + comment faire le responsive.

.deux{

  width: 842px;
} */

.pendu ul ol{
  visibility: hidden;
}

.pendu ul ol.visible{
  visibility: visible;
}

#playerScore{
  color: red;
}

/* nv test. */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #333;
}
