@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Anton;
    src: url(../fonts/Anton-Regular.ttf);
}

ul{
    list-style-type: none;
}

footer p, a{
    font-family: Roboto;
    text-decoration: none;
    color: black;
}

footer h3, span, h1, h2{
    font-family: Anton;
}

p, a, h1, h2{
    font-family: Roboto;
    color: black;

}


header{
    display: flex;
    justify-content: center;
    border-bottom: solid 1px rgb(0, 0, 0);
    align-items: center;  
    overflow: hidden;
    padding: 1%;
    background-color:#95cfef ;
}

header .logo{
    font-size: 3vw;
    font-weight: 900;
    color: rgb(0, 0, 0);
    
}

header span.logo {
    font-family: Anton;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main{
    display: flex;
    justify-content: center;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    padding: 2%;
    width: 60vw;
}

.paragraphe{
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 1%;
}

.footer{
    display: flex;
    flex-direction: column;
    padding: 2%;
    gap: 20px;
    background: #95cfef;
}


.footer .infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .reseaux{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.footer .reseaux img{
    height: 5vw;
}

.footer .infos h2{
    font-size: 6vw;
    font-weight: 900;
    font-family: Anton;
    margin: 0;
}

.footer .infos p{
    font-size: 3vw;
    margin: 0;
}

.footer a{
    color: black;
}

.footer ul.legal li a:hover {
    text-decoration: underline;
    /* color: white; */
}

@media (min-width: 900px) { 

    .footer ul.legal li a {
        font-size: 1.2vw;
    }

    .footer ul.legal{
        justify-content: space-between;
        flex-direction: column;

    }

    .footer .infos h2 {
        font-size: 3vw;
    }

    .footer .infos p {
        font-size: 2vw;
    }

    .footer .reseaux img {
        height: 3vw;
    }
}


