@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

h1, p, a, h2, span{
    font-family: 'Roboto';
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main{
    display: flex;
    justify-content: center;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    padding: 2%;
    width: 60vw;
}

.paragraphe{
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 1%;
}
