.dev{
    margin-bottom: 2%;
    margin-top: 2%;
}

.dev p{
    font-size: 1.5vw;
}

.img img{
    width: 100%;
}

a, p, h1, h2, h3{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

.titre{
    display: flex;
    align-items: center;
}

.titre ul{
    display: flex;
    width: 15%;
    justify-content: space-between;
    list-style-type: none;
}

.titre ul li a{
    color: black;
    text-decoration: none;
}

.titre ul img{
    width: 5vw;
    /* height: 5vh; */
}

.titre ul li a:hover{
    text-decoration: underline;

}

.titre ul li a:hover li{
    padding: 5%;
}