@media (min-width: 768px ){

    .presentation .perso{
        bottom: -11%;
        left: -10%;
    }

    .part3 img{
        width: 5vw;
        height: auto;
        display: flex;
    }

    .langues{
        justify-content: center;
        width: 25vw;
    }

    .hobbies{
        justify-content: center;
        width: 25vw;
    }

    .part3{
        width: 30vw;
        margin: 0% 0%;
    }

    .part2 img{
        width: 5vw;
        height: auto;
        display: flex;
    }

    .part2 .infos{
        align-items: normal;
    }

    .part2{
        margin: 0% 0% 0% 3%;
        padding: 0px 60px;
        border-left: 2px solid #e87c5b;
        border-right: 2px solid #e87c5b;
        width: 30vw;
        align-items: normal;
    }

    .mid{
        display:flex;
        flex-direction: row; 
        padding: 5%;
    }

    .part1 img{
        width: 5vw;
    }

    .part1 ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .part1{
        margin: 0% 0%;   
    }

    .competences{
        justify-content: unset;
    }
}

@media (min-width: 950px ){
    .langues img{
        width: 2.5vw;
        height: auto;
    }

    .bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 50px;
    }
}

/* MAX-width */
@media (max-width: 1000px ){
    .mid span{
        font-size: 1em; 
    }

    .web ul.txt {
        top: 28%;
        right: 14%;
        gap: 0;
    }

    .bottom span{
        font-size: 0.8em;
    }

    .bottom .competences .comp {
        font-size: unset;
    }

    .hobbies .hobbie {
        font-size: unset;
    }

    .langues .langue{
        font-size:unset ;
    }

    .part3 ul li {
        font-size: 1em;
    }

    .part2 .num{
        font-size: 3em;
    }

    .hautdepage{
        justify-content: center;
        gap: 45px;
    }

    .adresse {
        width: 25vw;
    }

    .adresse address{
        font-size: 2vw;
    }
        
    .web{
        width: 25vw; 
    }

    .web a{
        font-size: 1.3vw;
        top: 22%;
        right: 17%;
    }

    .infos2 .gddesign img{
        width: 40vw;
    }

    .bottom{
        flex-direction: column;
        gap: 50px;
        margin: 5% 0%;
    }

    .competences{
        margin: 0 auto;
        width: 50vw;
    }

    .hobbies{
        width: 87vw;
        margin-left: 2%;
        
        
    }
    .langues{
        width: 87vw;
        margin: 0 auto;
    }

    .presentation .perso{        
        bottom: -11%;
        left: -9%;
    }

    .partie2{
        flex-direction: row;
    }

    header ul li a {
        font-size: 1.5em;
    }    
}


@media (max-width: 767px ){

    .web ul.txt {
        gap: 0;
        top: 15%;
        right: 19%;
    }

    .web a{
        font-size: 1.1vw;
    }

    .presentation .textcontainer span{
        font-size: 2vw;
    }
    .presentation{
        flex-direction: column-reverse
    }
    
    .partie2{
        width: 100%;
        gap: 20px;
    }

    .hobbies{
        width: 50vw;
    }

    .langues{
        width: 50vw;
    }

    
    .part2 img{
        width: 25vw;
    }

    .part1{
        width: auto;
        padding: 5%;
        margin: auto;
        margin-top: 5%;
        width: 70%;
        background-color: #cdc8b650;
        border-top: solid 4px #9e9e9e;
    }

    .part2{
        margin: auto;
        padding: 5%;
        width: 70%;
        border-top: solid 4px #9e9e9e;
        background-color: #cdc8b650;
    }

    .part3{
        margin: auto;
        padding: 5%;
        width: 70%; 
        border-top: solid 4px #9e9e9e;
        background-color: #cdc8b650;
    }

    .presentation .textcontainer{
        width: 70%;   
    }

    .presentation .textcontainer span{
        font-size: 2vw;
    }

    .presentation .perso{
        bottom: -11%;
        left: -10%;
        
    }

    .partie2{
        flex-direction: column;
    }

    .hobbies{
        margin-bottom: 5%;
        margin: 0 auto;
    }  
}

@media (max-width: 680px ){

    .langues .langue{
        writing-mode: horizontal-tb;
        text-orientation: sideways;
        border-right: none;
        border-bottom: 2px solid #c03126 ;
    }

    .langues{
        flex-direction: column;
        width: 60vw;
    }

    .hobbies ul li img{
        width: 7vw;
    }

    .langues img{
        width: 7vw;
    }

    .hobbies .hobbie{
        writing-mode: horizontal-tb;
        text-orientation: sideways;
        border-right: none;
        border-bottom: 2px solid #c03126 ;
    }

    .web ul.txt {
        gap: 0;
        top: 8%;
        right: 15%;
    }

    .web a{
        font-size: 1.1vw;
    }
        

    .hobbies{
        flex-direction: column;
    }

    .presentation .textcontainer span{
        font-size: 3vw;
    }
    .presentation .perso{
        position: absolute;
        max-height: 80%;
        bottom: -7%;
        left: -11%;
    }

    .bottom .competences .comp{
        writing-mode: horizontal-tb;
        text-orientation: sideways;
        border-right: none;
        border-bottom: 2px solid #c03126 ;
    }

    .competences{
        flex-direction: column;
    }

    .hobbies ul li span{
        font-size: 0.8em;
    }

    .hobbies ul{
        width: 80vw;
    }   
}

@media (max-width: 465px ){
    .competences ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 45px;
        margin: 10%;
    }

    .web ul.txt {
        gap: 0;
        top: 18%;
        right: 14%;
    }

    .presentation img.pp{
        width: 25vw;
    }

    .presentation .perso{
        animation: none;
    }

    .competences span{
        width: 100%;
        display: flex;
        justify-content: center;
    }      

    .presentation .textcontainer span {
        font-size: 5vw;
    }

    .presentation .textcontainer {
        width: 95%;
    }

    /* hautdepage. */
    .hautdepage{
        justify-content: space-between;
        flex-direction: row;
        padding:  2% 2% 0% 2%;
        flex-wrap: wrap;
        gap: 0;
    }
    
    .hautdepage .adresse{
        width: 40vw;
    }
    
    .hautdepage .adresse address{
        font-size: 3.5vw;
    }
    
    .hautdepage .web{
        width: 40vw;
    }
    
    .web a{
        font-size: 2.3vw;
    }
    
    .infos2 {
        width: auto;
        order: 3;
        margin-top: 0;
    }
    
    .infos2 .gddesign img {
        width: 95vw;
    }
       
    .infos2 h1 {
        font-size: 5.5vw;
    }
    
    header ul li a {
        font-size: 1em;
    }       
}

@media (max-width: 350px ){

    .part2 ul li{
        padding: 5% 5%;
        flex-direction: column;
    }

    .hobbies ul {
        flex-direction: column;     
    }
    .hobbies ul li{
        width: 100%;
    }

    .hobbies ul li img{
        width: 15vw;
        height: 15vw;
    }

    .hobbies ul li span{
        font-size: 1em;
    }

    .langues img{
        width: 20vw;
        height: 20vw;
    }

    .Drapeaux span{
        font-size: 1em;
    }
}

