@font-face {
    font-family: Gaming;
    src: url(fonts/Projet\ collaboratif\ -\ CV\ -\ Retro\ Gaming.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    position: relative;
    background-color: #fdf8e2;
}

::-webkit-scrollbar {
    display: none;
    }

/* Haut de page*/
span{
    font-family: "Montserrat";
    font-size: 1vw;
}

a{
    text-decoration: none;
    color: black;
}

/* Header */

header{
    display: flex;
    background-color: #E25F3F;
    height: auto;
    display: flex;
    justify-content: center;
    border-bottom: solid 5px #751700;
    height: 5vh;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.27);  
}

header ul{
    display: flex;
}

header ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
}
header ul li a{
    color: black;
    text-decoration: none;
    font-weight: 300;
    font-size: 2vw;
    font-family: 'Gaming';
}

header ul li .active{
    text-decoration: underline;
 }

header ul li:hover{
    background-color: #231f2020;
    height: 100%;
} 

header ul li:hover a{
    color: white;

}
header ul li:hover .active{
    color: black;
}
.hautdepage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 0% 2%;
}

.adresse{
    width: 15vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.adresse address:hover{
    color: #e25f3f;
    text-decoration: underline;
}

.adresse address{
    font-size: 1vw;
    font-weight: 500;
    font-style: normal;
    font-family: "Montserrat";
}

.web{
    position: relative;
    width: 15vw;
    justify-content: center;
    flex-direction: column;
}

.web ul.txt{
    position: absolute;
    top: 25%;
    right: 18%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 5px;
}

.web a{
    color: rgb(255, 255, 255);
    font-size: 0.8vw;
    font-family: "Gaming";
    text-decoration: none;    
}

.web a:hover{
    color: black;
    text-decoration: underline;
}

.infos2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6vw;
    width: 40vw;
    gap: 1vh;
}

/* GameDesigner */
.gddesign{
    position: relative;
}

.infos2 .gddesign img{
    position: relative;
    width: 35vw;
    height: auto;
    z-index: 1;
    display: flex;
}

.header-colored{
    position: absolute;
    background-color: #fdf8e2;
    z-index: 0;
    height: 50%;
    width: 85%;
    left: 7%;
    top: 50%;
    z-index: 0;    
}
  
.infos2 .gdesign{
    position: relative;
}

.infos2 h1{
    letter-spacing: 2px;
    font-size: 2.5vw;
    font-family:"Tahoma";
    font-weight: 300;
    letter-spacing: 0.1em;
}

/* Présentation. */
.presentation{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 0% 5%;
}

.presentation img{
    width: 13%;
}

.presentation .textcontainer{
    position: relative;
    background-color: #4580c2; 
    width: 75%;
    margin: 3% 3%;
    box-shadow: -0.5vw 0.6vw 0vw 0.6vw #2e6596;  
}

.presentation .textcontainer span{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    padding: 2% 5%;
    line-height: 1.3;
}

.presentation .perso{
    position: absolute;
    max-height: 80%;
    bottom: -11%;
    left: -8%;
    -webkit-animation: perso 2s infinite both;
	animation: perso 2s infinite both;
}

.presentation .ruby{
    position: absolute;
    max-height: 30%;
    top: -3%;
    right: -7%;
}

/* EXPERIENCE */
.mid{
    position: relative; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0% 0% 0% 0%;
}

.background-section{
    position: absolute;
    height: 100%; 
    width: 100%;
    z-index: 0;
    background-image: url('Images/Vague-beige.svg');
    background-size: cover; 
    background-position: center center;
}

.mid .part{
    margin: 0 auto;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

/* Partie 1 */
.part1{
    margin: 0 auto;
    width: 10vw;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 5%;
    z-index: 1;
}

.part1 ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

.part1 ul li{
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.part1 .image{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.part1 .icon{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.part1 span{
    font-family: "Gaming";
    font-size: 1vw;
}

.part1 img{
    width: 25vw;
    transition: transform 0.3s ease-in-out;
}

.part1 img:hover{
    transform: translateY(-5px);
    filter: brightness(90%);
}

.icon span{
    margin-top: 10px;
}

/* Partie 2 */
.part2{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
    z-index: 1;
}

.part2 span{
    font-size: 1.2vw;
}

.part2 ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.part2 ul li{
    font-family: "Montserrat";
    display: flex;
    padding: 0% 7%;
    align-items: center;
    gap: 20px;
}

.part2 .num{
    font-family: "Gaming";
    color: #e56748;
    font-size: 6vw;
    text-shadow: -3px 4px 0px #913e28;
    transition: transform 0.3s ease-in-out;
}

.part2 .num:hover{
    transform: translateY(-5px);
    filter: brightness(90%);
}

.part2 .image{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.part2 img{
    width: 30vw;
    transition: transform 0.3s ease-in-out;
}

.part2 img:hover{
    transform: translateY(-5px);
    filter: brightness(90%);
}

.txtpx{
    font-family: "Gaming";
}

.gras{
    font-weight: 750;
}

/* Partie 3 */
.part3{
    margin: 0 auto;
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
    z-index: 1;
}
.part3 ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 10% 10%;
}

.part3 ul li{
    font-family: "Montserrat";
    font-size: 1vw;
}

.part3 .txt{
    display: flex;
    align-items: center;
    justify-content: center;
}

.part3 .image{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.part3 img{ 
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 30vw;
}

.part3 img:hover{
    transform: translateY(-5px);
    filter: brightness(90%);
}

/* BOTTOM */

.bottom{
    display: flex;
    margin: 0% 3% 5% 3%;
    justify-content: space-between;
}

.competences{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin: 2% 0%;
    z-index: 1;
}

.bottom .competences .comp{
    font-family: "Gaming";
    writing-mode: vertical-rl;
    text-orientation: upright;
    border-right: 3px solid #c03126; 
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    color: #231f20;
    font-size: 1vw;
}

.competences ul{
    list-style-type: none;
    padding: 0;
}

.competences ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    justify-content: space-between;
}

.competences ul li .image{
    margin: 10px;
}

.competences ul li img{
    min-width: 200px;
    width: 17vw;
    /* new: width */
    transition: transform 0.3s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%,)
}

.competences ul li img:hover{
    transform: translateX(20px);
    filter: brightness(90%);
}

.competences span{
    font-weight: 750;
    color:#4d504d;
}

.textcontainer{
    width: 20vw;
    gap:20px;
}

.imgcontainer{
    width: 20vw;
    column-gap: 50px;
}

.imgcontainer img{
    width:30vh;
}

/* PART 2 */
.partie2{
    display: flex;
    margin: 5%;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0;
    gap: 50px;
}

.hobbies{
    margin: 2% 0%;
    display: flex;
    align-items: center;
    gap:20px; 
    z-index: 1;
}

.hobbies .hobbie{
    font-family: Gaming;
    writing-mode: vertical-rl;
    text-orientation: upright;
    border-right: 3px solid #c03126; 
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    color: #231f20;
    font-size: 1vw;
}

.hobbies ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.hobbies ul li{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    gap: 2px; 
    /* new gap. */
}

.hobbies ul li img{
    width:3vw;
    height: 3vw;
    transition: transform 0.3s ease-in-out;
}

.hobbies ul li img:hover{
    transform: translateY(-5px);
    filter: brightness(90%);
}

.hobbies ul li span{
    display: flex;
    align-items: center;
}

/* DRAPEAUX*/
.langues{
    margin: 2% 0%;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 1;
}

.langues .langue{
    font-family: Gaming;
    font-weight: 600;
    border-right: 3px solid #c03126; 
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: #231f20;
    font-size: 1vw;
}

.langues .Drapeau{
    display: flex;
    flex-direction:column ;
    align-items: center;
}

.langues img{
    height: auto;
    transition: transform 0.3s ease-in-out;
    width: 2.5vw;
}
.langues img:hover{
    transform: translateY(-5px);
    filter: brightness(90%);
}

.Drapeaux{
    display: flex;
    flex-direction: row;
    gap:40px;
    flex-wrap: wrap;
    justify-content: center;
    width: 40vw;
}